@use "sass:list";
.open
{
    .open-header
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 70vh;
        h1
        {
            &::after
            {
                background-color: $color-primary;
                content: '';
                height: 2px;
                width: 80%;
                display: block;
                margin: auto;
                margin-top: 2vh;
            }
            margin: 2%;
        }
    }
    .content
    {
        h1
        {
            text-align: center;
            margin: 8vh;
        }
        .open-container
        {
            height: 100vh;
            display:flex;
            justify-content: space-around;
            .left-box
            {   
                background-image: url(../assets/church2.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .right-box
            {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
              p{
                  font-size: 20px;
                  font-family: $font-source-sans-pro;
                  text-align: justify;
                  text-justify: inter-word;
              }
            }
            
        }
    }
}

